# Carga de datos a travez de la funcion read_csv

In [5]:
import pandas as pd

In [64]:
data = pd.read_csv("../datasets/titanic/titanic3.csv")

In [65]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [66]:
read_csv(filepath="/Users/joseph/Developer/AnacondaProjects/Machine-learning-con-python/datasets/titanic/titanic3.csv",
        sep=",",dtype={"ingresos":np.float64,"edad":np.int32},header=0,names={"ingresos","edad"},
        skiprows=12,index_col=None,skip_blank_lines=False,na_filter=False)

NameError: name 'read_csv' is not defined